*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#000000 ;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    max-width: 100px;
    max-height: 100vh;
    scroll-behavior: smooth;
    scroll-margin-top: 200%;
}
.container-fluid .nav-item{

    justify-content: space-between;
    background-color: rgba(255, 255, 255, .45);
    border-radius: 20px;
    border: 1px solid rgba(42, 14, 95, 0.25);
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.container-fluid .nav-item :hover{
    color: rgb(9, 115, 253);
    
}
h2{
    color: rgb(2, 1, 0);
    position: relative;
    margin-left: 10ch;
    margin-top: 50vh;
    margin-top: 20in;
    
}
 h1 {
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    max-width: min-content;
    max-height: 70vh;

}
.card{
    position: relative;
    margin-left: 450px;
    margin-bottom: 20%;
    margin-right: 10%;
    margin-top: 5%;
    

}
.card12{
    position: relative;
    height: 10%;
    margin-left: 100px;
    margin-bottom: 20%;
    margin-right: 10%;
    margin-top: 5%;
    

}

.card1{
    position: relative;
    bottom: 20px;
}
.card .card-body{
    position: relative;
    background-color: transparent;

}

